$clr--primary: #55c57a;
$clr--primary-light: #7ed56f;
$clr--primary-dark: #28b485;
$clr--secondary: #ffb900;
$clr--secondary-dark: #ff7730;
$clr--white: #fff;
$clr--black: #011a24;

$default-font-size: 1.6rem;

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  // this define what 1rem is
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  scrollbar-width: thin !important;
  scrollbar-color: $clr--primary;

  @media (max-width: 56.25em) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @media (min-width: 130.5em) {
    font-size: 75%; // 1rem = 12px , 12/16 = 75%
  }
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  font-size: clamp(
    1.6rem,
    calc(1.6rem + ((1vw - 0.265625rem) * 0.3153)),
    1.8rem
  );
  color: $clr--black;
}

a,
a:active,
a:visited {
  text-decoration: none;
}

div,
button,
input,
i,
li,
a,
ul,
img,
button:focus,
input:focus,
i:focus,
li:focus,
a:focus,
ul:focus,
img:focus,
textarea:focus {
  outline: 0;
  outline: none;
  outline-style: none;
  -moz-outline-style: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background-color: $clr--primary;
  color: $clr--white;
}

// Webkit browsers
::-webkit-scrollbar {
  position: relative;
  width: 5px;
  height: 5px;
  overflow-x: hidden;
  overflow-y: scroll;
}
::-webkit-scrollbar-track {
  position: absolute;
  border-radius: 0px;
  background: $clr--white;
}
::-webkit-scrollbar-thumb {
  position: absolute;
  border-radius: 0px;
  background: $clr--primary;
}
h1,
h2,
h3 {
  margin: 0;
}
h1 {
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.265625rem) * 1.5764)), 4rem);
  min-height: 0vw;
  text-align: center;
}

h2 {
  font-size: clamp(3rem, calc(3rem + ((1vw - 0.265625rem) * 1.5764)), 4rem);
  min-height: 0vw;
  color: $clr--primary-dark;
}

h3 {
  font-size: clamp(2rem, calc(2rem + ((1vw - 0.265625rem) * 0.6305)), 2.4rem);
  min-height: 0vw;
  margin-bottom: 1rem;
}

h4,
h5 {
  font-size: clamp(
    1.6rem,
    calc(1.6rem + ((1vw - 0.265625rem) * 0.3153)),
    1.8rem
  );
  min-height: 0vw;
  font-weight: 400;
}

.margin-tb {
  margin: 1.125rem 0;

  &--xl {
    margin: 2rem 0 3rem 0;
    border-top-width: 1px;
    border: 0;
    height: 0;
  }
}
.heading-main {
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-width: 8px;
  border-style: solid;
  border-color: $clr--primary-dark;
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
  padding-left: 1rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.heading-sub {
  margin-bottom: 1.6rem;
  font-weight: 600;
}

.p-block {
  font-size: 1.6rem;
  padding-left: 0.7rem;
}
// Styles

.container {
  &__flex {
    display: flex;
    align-items: flex-start;
    margin-bottom: 4rem;

    @media (max-width: 768px) {
      flex-direction: column;
    }
    &--left {
      flex: 0 0 25%;

      & > h4 {
        font-style: italic;
      }
    }

    &--right {
      flex: 1;
      & .tool-box {
        display: inline-block;
        background: $clr--secondary;
        color: $clr--black;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 1rem;
        border-radius: 0.75rem;
        user-select: none;
        transition: 0.3s all;
        margin-bottom: 1rem;

        &:hover {
          background: $clr--primary-light;
          color: $clr--white;
        }
      }
      & .tasks {
        position: relative;
        padding-left: 2.5rem;

        &::before {
          content: "";
          width: 16px;
          height: 16px;
          background-image: url(./images/check.svg);
          background-repeat: no-repeat;
          background-size: cover;
          display: inline-block;
          position: absolute;
          left: 0;
          top: 8px;
        }
      }
    }
  }

  .skill-list {
    padding-left: 2.5rem;

    &__item {
      &::marker {
        color: $clr--primary;
      }
    }
  }
}
.wrapper {
  max-width: 128rem;
  margin: 4.8rem auto;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 2px 4px 13px 0px #182d421c;
  isolation: isolate;

  @media (max-width: 768px) {
    flex-direction: column;
    margin: 0;
  }

  &__left {
    width: 100%;
    padding: 3rem;
    max-width: 65ch;

    @media (max-width: 768px) {
      max-width: 100%;
      padding: 1.4rem;
    }

    &--profile {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #e5e7eb;
      }
    }

    &--exp {
    }

    &--project {
    }

    &--skils {
    }
  }
  &__right {
    width: 100%;
    max-width: 40rem;
    padding: 2rem;
    background: $clr--primary-light;
    border-radius: 5px;

    @media (max-width: 768px) {
      max-width: 100%;
      order: -1;
      padding: 1.4rem;
      border-radius: 0;
    }

    &--avatar {
      margin-bottom: 5rem;
      & > img {
        display: block;
        width: 25rem;
        border-radius: 50%;
        margin: 0 auto;
      }

      & > h5 {
        text-align: center;
      }
    }

    &--widget {
      margin-bottom: 5rem;
      & .widget__flex {
        display: flex;
        align-items: stretch;
        margin: 1rem 0;

        &--img {
          width: 100%;
          max-width: 3rem;
          margin-right: 2rem;
          height: auto;
        }

        & > a {
          color: $clr--black;
        }
      }
    }
  }
}
